#root, html, body{
    margin:0;
    padding:0;
    height:100vh;
    box-sizing:border-box;
}
.app{
    height:100%;
    background: url("https://content.7krave.com/restaurants/169/images/8632/a_169_r_169_8632_large.jpg");
    background-size:cover;
    background-position: center;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}
.card{
    background-color:whitesmoke;
    width:70%;
    height:40%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    border-radius:25px;
    padding:2%;
    box-shadow:10px 10px 10px;

}
.greeting{
    font-size:30px;
    border:1px solid black;
    width:300px;
    border-radius:20px;

}
.heading{
    display:flex;
    align-items:center;
    font-family:'Kalam', cursive;
}
.button{
    position:relative;
    outline:none;
    text-decoration:none;
    border-radius:50px;
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
    text-transform:uppercase;
    
    height:50px;
    width:210px;
    opacity:1;
    background-color:#ffffff;
    border:1px solid rgba(22,76, 167, 8, 6)
}
@keyframes buttonHover {
    0% {
      transform: scale(1);
      box-shadow: 10px 10px 10px rgba(22, 76, 167, 0.6);
    }
    50% {
      transform: scale(1.1);
      box-shadow: 15px 15px 15px rgba(22, 76, 167, 0.8);
    }
    100% {
      transform: scale(1);
      box-shadow: 10px 10px 10px rgba(22, 76, 167, 0.6);
    }
  }
  
  .button:hover {
    animation: buttonHover 0.5s ease-in-out forwards;
  }
  
  @media only screen and(max-width:600px) {
    .card{
        width:80px;
        height:30px;
    }
  }